body
{
  font-family: "Droid Sans", "sans-serif";
  background-color: #fcfcfc;
  height: 100%;
}

a
{
  color: #000;
}

a:hover
{
  color: teal;
}

p
{
  margin-bottom: 10px;
}

#nav_wrap
{
  float: right;
}

#nav li
{
  display: inline;
}

#browser_error, #about, #help
{
  display: none;
  background-color: #c0c0c0;
  -webkit-box-shadow: inset 0px -5px 10px 0px #555;
  -moz-box-shadow: inset 0px -5px 10px 0px #555;
  box-shadow: inset 0px -5px 10px 0px #555;
  padding: 10px 0 20px;
  position: relative;
  z-index: 100;
}

#error_inner, #about_inner, #help_inner
{
  width: 650px;
  margin: 0 auto;
}

#about h3, #help h3
{
  font-size: 18pt;
}

#error_inner h2
{
  color: #000;
  margin-bottom: 10px;
}

#links_wrap
{
  margin: 10px 0 0 20px;
}

#container
{
  display: none;
  width: 1024px;
  margin: 0 auto;
}

#header_container
{
  margin: 0 auto;
  /*padding: 20px 0 0;*/
  /*width: 800px;*/
  text-align: center;
  position: relative;
  height: 100%;
}

#header_container h2, form
{
  display: inline;
}

h2
{
  color: #404040;
  font-size: 22pt;
  vertical-align: baseline;
}

input
{
  padding: 3px;
  margin: 2px 2px 0 5px;
  font-size: 18pt;
  border: 1px solid lightgray;
  color: teal;
  background-color: #fcfcfc;
}

input:focus
{
  outline: 2px solid #80C0C0;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px 10px #fff;
  -moz-box-shadow: 0px 0px 10px 10px #fff;
  box-shadow: 0px 0px 15px 5px #fff;
}

#advanced_search
{
  display: block;
  margin: 5px 0;
  color: #666;
}

#advanced_search:hover
{
  color: teal;
}

#other_wrap
{
  width: 600px;
  margin: 0 auto;
  text-align: left;
}

#adv_search_opts
{

  display: none;
  background-color: #c0c0c0;
  padding: 15px 0;
  -webkit-box-shadow: inset 0px 5px 10px 0px #555;
  -moz-box-shadow: inset 0px 5px 10px 0px #555;
  box-shadow: inset 0px 5px 10px 0px #555;

}

#adv_search_opts input
{
  padding: 0;
  font-size: 14pt;
  width: 50px;
  border: 1px solid darkgray;
}

#black_overlay
{
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.8;
  z-index: 3;
}
