body
{
  font-family: "Droid Sans", "sans-serif";
  background-color: #fcfcfc;
  height: 100%;
}

h4
{
  font-size: 12pt;
  font-weight: 100;
  margin-bottom: 2px;
}

a
{
  color: #000;
}

a:hover
{
  color: teal;
}

p
{
  margin-bottom: 10px;
}

select 
{
  vertical-align: bottom;
}

#nav_wrap
{
  float: right;
}

#nav li
{
  display: inline;
}

#browser_error, #about, #help
{
  display: none;
  background-color: #c0c0c0;
  -webkit-box-shadow: inset 0px -5px 10px 0px #555;
  -moz-box-shadow: inset 0px -5px 10px 0px #555;
  box-shadow: inset 0px -5px 10px 0px #555;
  padding: 10px 0 10px;
  position: relative;
  z-index: 100;
}

#error_inner, #about_inner, #help_inner
{
  width: 650px;
  margin: 0 auto;
}

#about h3, #help h3
{
  font-size: 18pt;
  margin-bottom: 10px;
}

#about p, .help_content p, .help_content ul
{
  margin-bottom: 10px;
}

.help_tabs
{
  margin-bottom: 5px;
}

.help_tabs li
{
  display: inline;
  list-style: none;
  margin-right: 10px;
}

.help_tabs li.active a
{
  color: teal;
}

.help_content
{
  height: 225px;
}

.help_content ul
{
  margin-left: 10px;
}

.help_content ul li
{
  list-style: none;
}

.help_content a
{
  text-decoration: none;
}

.tracks_help_content, .genres_help_content, .more_help_content
{
  display: none;
}

#error_inner h2
{
  color: #000;
  margin-bottom: 10px;
}

#links_wrap
{
  padding: 10px 0 0 20px;
}

#links_wrap a
{
  margin-right: 5px;
}

.canvas_container
{
  width: 1024px;
  height: 700px;
  margin: 0 auto 10px;
}

#viewport
{
  display: none;
  margin: 0 auto;
}

.header_container
{
  margin: 0 auto;
  /*padding: 20px 0 0;*/
  /*width: 800px;*/
  text-align: center;
  position: relative;
  height: 100%;
}

.header_container h2, form
{
  display: inline;
}

h2
{
  color: #404040;
  font-size: 22pt;
  vertical-align: baseline;
}

input[type="text"]
{
  padding: 3px;
  margin: 2px 2px 0 5px;
  font-size: 18pt;
  border: 1px solid lightgray;
  color: teal;
  background-color: #fcfcfc;
}

input:focus
{
  outline: 2px solid #80C0C0;
  background-color: #fff;
}

#advanced_search
{
  display: block;
  margin: 5px 0;
  color: #666;
}

#advanced_search:hover
{
  color: teal;
}

#other_wrap
{
  width: 600px;
  margin: 0 auto;
  text-align: left;
}

#adv_search_opts
{

  display: none;
  background-color: #c0c0c0;
  padding: 15px 0;
  -webkit-box-shadow: inset 0px 5px 10px 0px #555;
  -moz-box-shadow: inset 0px 5px 10px 0px #555;
  box-shadow: inset 0px 5px 10px 0px #555;

}

#adv_search_opts input[type="text"]
{
  padding: 0;
  font-size: 14pt;
  width: 50px;
  border: 1px solid darkgray;
}

.limit_error
{
  display: none;
  color: darkred;
  vertical-align: middle;
}

#black_overlay
{
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.8;
  z-index: 3;
}

.search_error
{
  margin: 0 auto;
  width: 650px;
  text-align: center;
  color: darkred;
  display: none;
}

.footer_wrap
{
  text-align: right;
  width: 960px;
  margin: 0 auto;
}

.footer_wrap p 
{
  font-size: 11pt;
}

/* Tell Me Styles */

#tell_me_form
{
  display: none;
}
